body {
  max-height: 100%;
  max-width: 100%;
  background-image: url('../assets/mountain.jpg');
  background-size: cover;
}

h3 {
  font-family: 'Khula', sans-serif;
  color: #494d57;
  text-decoration: none;
  font-weight: bolder;
}

p {
  font-family: 'Khula', sans-serif;
  color: #494d57;
  text-decoration: none;
}

footer {
  max-height: 30px;
  background-color: #e5f9ff;
  font-family: 'Khula', sans-serif;
  color: #494d57;
  text-decoration: none;
  display: flex;
  position: fixed;
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-around;
}

footer:hover {
  color: #67c741;
  text-decoration: none;
}
