body {
  background-image: url('../assets/mountain.jpg');
  background-size: cover;
}
footer {
  max-height: 30px;
  background-color: #e5f9ff;
  font-family: 'Khula';
  color: #494d57;
  display: flex;
  position: fixed;
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-around;
}

footer:hover {
  color: #67c741;
}
