@media only screen and (max-width: 1024px) {
  #navBar {
    display: none;
  }
  #skiMenu {
    max-height:30px;
    position:fixed;
    right: 30px;
  }
  #mobileMenu {
    visibility: hidden;
    position: absolute;
  }
}

@media only screen and (min-width: 1025px) {

  #mobileNav {
    display: none;
  }

  #navBar {
    display: flex;
    justify-content: space-around;
    background-color: #e5f9ff;
  }

  .navigation-item {
    font-family: 'Khula';
    color: #494d57;
    display: flex;
    justify-content: space-around;
    padding: 2px;
  }

  .navigation-item:hover {
    color: #67c741;
  }
}
