@media only screen and (max-width: 1024px) {

  #navBar {
    visibility: hidden;
    overflow: hidden;
  }

  #skiMenu {
    max-height: 30px;
    position: fixed;
    right: 30px;
  }
  #mobileMenu {
    visibility: hidden;
    position: absolute;
  }
  .page-content {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {

  #mobileNav {
    display: none;
  }

  #navBar {
    display: flex;
    justify-content: space-around;
    background-color: #e5f9ff;
  }

  .navigation-item {
    font-family: 'Khula';
    font-size: .9em;
    color: #494d57;
    display: flex;
    justify-content: space-around;
    padding: 2px;
  }

  .navigation-item:hover {
    color: #67c741;
  }
  .page-content {
    display: none;
  }
}

#openingContent {
  margin-top: 75px;
  font-family: 'Khula', sans-serif;
  background-color: #e5f9ff;
  opacity: .8;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: #494d57;
  display: flex;
  justify-content: center;
}

#center {
  justify-content: center;
}
#registerHere {
margin-top: 30px;
font-family: 'Khula', sans-serif;
font-size: .7em;
font-style: normal;
display: flex;
justify-content: space-around;
text-decoration: none;
}

#registerButton {
  display: flex;
  justify-content: space-around;
}
